<!DOCTYPE html>
{% load static %}
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Registro por Clubes NBA/MLB</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/country_register_page.css' %}">

</head>

<body>
    {% include "navbar_template.html" %}
    <div class="container-fluid py-4">

        <!-- 2️⃣ EQUIPO -->
        <div class="row league-row">
            <div class="col-12 dashboard-item">
                <div class="esports-card">
                    <h5 class="card-title">País</h5>
                    <div class="row g-3 align-items-end">
                        <div class="col-md-12 col-12">
                            <label class="score-label mb-2">País</label>
                            <select class="form-select esports-select" id="clubSelect" name="club">
                                <option value="">Seleccionar club</option>
                                {%for club in clubes %}
                                <option value="{{club.ml_club_name}}">{{club.ml_club_name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-12 col-12">
                            <button class="esports-btn justify-content-center" hx-get="{% url 'consultar_por_ml_clubes' %}"
                                hx-target="#searchResults" hx-include="#clubSelect">
                                <i class="bi bi-people"></i>Consultar club
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="searchResults">
            <!--Resultados de la búsqueda-->
        </div>


    </div>

<script src="https://unpkg.com/htmx.org@1.9.10"></script>
</body>

</html>