<div class="esports-card">
    <div class="card-title">
        <i class="bi bi-table"></i> Tabla
    </div>

    <div class="table-responsive">
        <table class="table esports-table text-center" id="leagueTable">
            <thead>
                <tr>
                    <th onclick="sortTable(0)">País</th>
                    <th onclick="sortTable(1)">Ranking</th>
                    {% if clase == 'T' %}
                    <th onclick="sortTable(1)">Resultado Final</th>
                    {% elif clase == 'H' %}
                    {% for c in rondas %}
                    <th onclick="sortTable(1)">Heat {{ c }}</th>
                    {% endfor %}
                    <th onclick="sortTable(1)">Resultado Final</th>
                    {% elif clase == 'R' %}
                    {% for c in rondas %}
                    <th onclick="sortTable(1)">Ronda {{ c }}</th>
                    {% endfor %}
                    <th onclick="sortTable(1)">Resultado Final</th>

                    {% elif clase == 'P' %}
                    {% for c in nombres %}
                    <th onclick="sortTable(1)">{{ c }}</th>
                    {% endfor %}
                    <th onclick="sortTable(1)">Resultado Final</th>

                    {% elif clase == 'E' %}
                    <th onclick="sortTable(1)">Intentos</th>
                    <th onclick="sortTable(1)">Resultado Final</th>
                    {% endif %}

                </tr>
            </thead>
            <tbody>

                {% if clase == 'T' %}
                {% for r in resultados %}
                <tr>
                    <td>{{ r.0 }}</td>
                    <td>{{ r.1 }}</td>
                    <td>{{ r.2.0 }}</td>
                </tr>
                {% endfor %}

                {% elif clase == 'H' %}
                {% for r in resultados %}
                <tr>
                    <td>{{ r.0 }}</td>
                    <td>{{ r.1 }}</td>
                    {% for val in r.2.0 %}
                    <td>{{ val }}</td>
                    {% endfor %}
                    <td>{{ r.2.1 }}</td>
                </tr>
                {% endfor %}

                {% elif clase == 'R' %}
                {% for r in resultados %}
                <tr>
                    <td>{{ r.0 }}</td>
                    <td>{{ r.1 }}</td>
                    {% for val in r.2.0 %}
                    <td>{{ val }}</td>
                    {% endfor %}
                    <td>{{ r.2.1 }}</td>
                </tr>
                {% endfor %}
                {% elif clase == 'E' %}
                {% for r in resultados %}
                <tr>
                    <td>{{ r.0 }}</td>
                    <td>{{ r.1 }}</td>
                    <td>{{ r.2.0 }}</td>
                    <td>{{ r.2.1 }}</td>
                </tr>
                {% endfor %}


                {% elif clase == 'P' %}
                {% for r in resultados %}
                <tr>
                    <td>{{ r.0 }}</td>
                    <td>{{ r.1 }}</td>
                    {% for val in r.2.0 %}
                    <td>{{ val }}</td>
                    {% endfor %}
                    <td>{{ r.2.1 }}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>

</div>