                <div class="esports-card text-center">

                    <div class="card-title">Estado</div>

                    <div style="padding: 2rem 0;">
                        <h3 style="
                        color: var(--neon-blue);
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        font-weight: 700;
                        animation: fadeUp 0.6s ease;
                    ">
                            Generación completada
                            <a href="{{ download_url }}" download>
                                Descargar archivo Excel
                            </a>
                        </h3>
                    </div>
                </div>