{% if clase == 1 or clase == 5 %}
<div class="tag" id="item-{{ equipo.team_id }}" onclick="this.remove()" value="{{ equipo.team_id }}">{{ equipo.team_name }}</div>
<input type="hidden" id="item-{{ equipo.team_id }}" name="equipos" value="{{ equipo.team_id }}">
{% endif %}
{% if clase == 2 %}
<div class="tag" id="item-{{ equipo.ol_player_id }}" onclick="this.remove()" value="{{ equipo.ol_player_id }}">{{ equipo.ol_player_name }}</div>
<input type="hidden" id="item-{{ equipo.ol_player_id }}" name="equipos" value="{{ equipo.ol_player_id }}">
{% endif %}
{% if clase == 3 %}
<div class="tag" id="item-{{ equipo.club_id }}" onclick="this.remove()" value="{{ equipo.club_id }}">{{ equipo.club_name }}</div>
<input type="hidden" id="item-{{ equipo.club_id }}" name="equipos" value="{{ equipo.club_id }}">
{% endif %}
{% if clase == 4 %}
<div class="tag" id="item-{{ equipo.ol_player_id }}" onclick="this.remove()" value="{{ equipo.ol_player_id }}">{{ equipo.ol_player_name }}</div>
<input type="hidden" id="item-{{ equipo.ol_player_id }}" name="equipos" value="{{ equipo.ol_player_id }}">
{% endif %}