
{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar_style.css' %}">
<nav class="navbar navbar-expand-lg navbar-esports px-3">
    <div class="container-fluid">

        <!-- Título -->
        <a class="navbar-brand" href="">
            Olympic <span>Simulator</span>
        </a>

        <!-- Toggle mobile -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menú -->
        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link {% if request.path == '' %}active{% endif %}" href="{% url 'pagina_principal' %}">
                        <i class="bi bi-controller"></i>
                        Simulación
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {% if request.path == '' %}active{% endif %}" href="{% url 'pagina_registro_por_jugador_individual' %}">
                        <i class="bi bi-people-fill"></i>
                        Jugador Individual
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {% if request.path == '' %}active{% endif %}" href="{% url 'pagina_registro_por_pais' %}">
                        <i class="bi bi-flag-fill"></i>
                        País
                    </a>
                </li>
				
				<li class="nav-item">
                    <a class="nav-link {% if request.path == '' %}active{% endif %}" href="{% url 'pagina_registro_por_pais_mayor' %}">
                        <i class="bi bi-star-fill"></i>
                        País Mayor
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {% if request.path == '' %}active{% endif %}" href="{% url 'pagina_registro_por_club' %}">
                        <i class="bi bi-trophy"></i>
                        Club
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="bi bi-trophy-fill"></i>
                        Torneo
                    </a>
                </li>
				
				<li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="bi bi-capslock-fill"></i>
                        Medallero General
                    </a>
                </li>
				
				<li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="bi bi-bar-chart-line-fill"></i>
                        Records
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>

